.juu{
    border-radius: 40px;
    width:150px;
    transition: transform 0.5s;
}
.juu:hover{
    transform:translateY(-10px)
}
@keyframes slideIn {
    to {
      opacity: 1; /* Fade in */
      transform: translateX(0); /* Slide in from the left */
    }
  }
  .kuu:nth-child(2) {
    animation-delay: 100ms;
  }
  
  .kuu:nth-child(3) {
    animation-delay: 200ms;
  }
  
  .kuu:nth-child(4) {
    animation-delay: 300ms;
  }

  .kuu:nth-child(1) {
    animation-delay: 0s;
  }
  .kuu{
    opacity: 0; /* Initially hidden */
}
.kuu-seen{
    transform: translateX(-100%); /* Start off-screen to the left */
    animation: slideIn 0.5s forwards;
}
#home, #offers{
  padding-top:60px;
}
html, body{
  scroll-behavior: smooth;
}